/* Main Content Styles */
main {
  margin: 1.25rem; 
}
body{
  background-color: #dbdada;
}
.recent-post {
  font-size: 1.5rem;
  margin: 4rem; 
  text-align: center;
  font-family: "Poppins", sans-serif;
}
#foot {
  grid-area: foot;
  background: linear-gradient(to right, #112033, #1e6f63); /* Background color */
  color: white; /* Text color */
  padding: 0.5rem 0;
  font-size: 0.75rem;
  margin: 0;
}
.post-add{
  background-color: #fff;
  padding: 1.25rem; 
}

/* Button Link Styling */
#addForm {
  padding: 0.625rem 1.25rem; 
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 0.3125rem; 
  text-decoration: none;
}

#addForm:hover {
  background-color: #0056b3;
}


.content {
  margin-bottom: 1.25rem; 
}

.post {
  border: 0.0625rem solid #0056b3; 
  border-radius: 0.3125rem; 
  overflow: hidden;
  display: flex;
  flex-wrap: wrap; /* Allows flex items to wrap to the next line */
  background-color: #fff;
}

.post img {
  width: 12.5rem; 
  height: auto;
  margin: 0.625rem; 
}

.post-review {
  padding: 1.25rem; 
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.post-review h2 {
  margin-top: 0;
}

.post-meta {
  color: #666;
  margin-bottom: 0.625rem;
  font-size: 1rem; 
}

.preview-text {
  color: #333;
  font-size: 0.875rem; 
}



/* Media Queries */
@media screen and (max-width: 48rem) { 
  .post {
    flex-direction: column; /* Stack items vertically on smaller screens */
  }

  .post img {
    margin: 0 auto; /* Center the image */
  }
}
